@use 'functions/rem' as *;

@layer components {
  .app-c-badge {
    padding: rem(2) var(--space-1);
    border-radius: var(--radius-sm);
    font-size: var(--fs-sm);
    font-weight: var(--fw-medium);
    line-height: var(--lh-none);
    text-transform: uppercase;
  }
}
