@layer components {
  .app-c-btn {
    --btn-bg: transparent;
    --btn-bg-hover: transparent;
    --btn-color: var(--text-primary);
    --btn-border: transparent;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid var(--btn-border);
    background-color: var(--btn-bg);
    color: var(--btn-color);
    transition:
      color var(--transition-1),
      background-color var(--transition-1),
      border-color var(--transition-1),
      box-shadow var(--transition-1);

    &:disabled {
      cursor: not-allowed;
    }

    &:not(:disabled) {
      &:hover {
        background-color: var(--btn-bg-hover);
      }
    }

    &:focus {
      outline: none;
    }
  }

  .app-c-btn-primary {
    --btn-bg: var(--btn-primary-bg);
    --btn-bg-hover: var(--btn-primary-bg-hover);
    --btn-color: var(--btn-primary-color);
    --btn-border: var(--btn-primary-border);
  }
}
