@layer components {
  .app-c-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    background-color: transparent;
    transition:
      color var(--transition-1),
      background-color var(--transition-1),
      border-color var(--transition-1),
      box-shadow var(--transition-1);

    &:disabled {
      cursor: not-allowed;
    }

    &:focus {
      outline: none;
    }
  }
}
