@layer components {
  .app-c-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    .svg-icon {
      width: 100%;
      height: 100%;
    }
  }

  .icon-size-sm {
    width: 16px;
    height: 16px;
  }

  .icon-size-md {
    width: 24px;
    height: 24px;
  }
}
