@use 'mixins/page-height' as *;
@use 'mixins/breakpoint' as *;

:host {
  @include page-height;
}

.page-wrap {
  @include mobile {
    flex-direction: column;
  }
}

.panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  padding: var(--space-4);

  @include mobile {
    flex: initial;
    min-height: auto;
    overflow-y: unset;
  }
}

.panel-body {
  flex: 1;
  min-height: 0;
  overflow-y: auto;

  @include mobile {
    overflow-y: unset;
    flex: initial;
  }
}
