@use 'functions/rem' as *;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

.page {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.page-content {
  flex: 1 1 auto;
  min-height: 0;
  overflow-y: auto;
  padding: 0 var(--space-4) var(--space-4); /* token usage */
}

.page-filter,
.page-footer {
  flex: 0 0 auto;
  padding: rem(16); /* direct usage */
}

.page-footer {
  background-color: var(--bg-surface-subtle);
}
