@use 'mixins/page-height' as *;
@use 'functions/rem' as *;

:host {
  @include page-height;
}

.page-wrap {
  flex-direction: column;
}

.page-content {
  flex: 1 1 auto;
  min-height: 0;
  overflow-y: auto;
  padding: 0 var(--space-4) var(--space-4); /* token usage */
}

.page-filter,
.page-footer {
  flex: 0 0 auto;
  padding: rem(16); /* direct usage */
}

.page-footer {
  background-color: var(--bg-surface-subtle);
}
