@mixin rtl {
  [dir='rtl'] & {
    @content;
  }
}

/// Usage
///
/// @include rtl {
///   /* stylelint-disable property-disallowed-list */
///   margin-left: 40px;
///   padding-right: 16px;
///   /* stylelint-enable property-disallowed-list */
/// }
