.u-text-primary {
  color: var(--text-primary);
}

.u-text-secondary {
  color: var(--text-secondary);
}

.u-text-tertiary {
  color: var(--text-tertiary);
}

.u-text-link {
  color: var(--text-link);
}

.u-text-error {
  color: var(--status-error);
}

.u-text-success {
  color: var(--status-success);
}
