@use 'sass:meta';

@layer utilities {
  @include meta.load-css('./layout');
  @include meta.load-css('./spacing');
  @include meta.load-css('./typography');
  @include meta.load-css('./text');
  @include meta.load-css('./color');
  @include meta.load-css('./misc');
}
