.u-h-100 {
  height: 100%;
}

.u-h-auto {
  height: auto;
}

.u-min-h-0 {
  min-height: 0;
}

.u-w-100 {
  width: 100%;
}

.u-w-50 {
  width: 50%;
}

.u-w-auto {
  width: auto;
}

.u-min-w-0 {
  min-width: 0;
}
