.u-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.u-no-truncate {
  white-space: unset;
  overflow: unset;
  text-overflow: unset;
}

.u-word-break {
  overflow-wrap: break-word;
}

.u-white-space-normal {
  white-space: normal;
}

.u-white-space-nowrap {
  white-space: nowrap;
}

.u-white-space-pre-wrap {
  white-space: pre-wrap;
}

.u-white-space-pre-line {
  white-space: pre-line;
}

.u-text-center {
  text-align: center;
}

.u-text-left {
  text-align: start;
}

.u-text-right {
  text-align: end;
}
