.u-fw-normal {
  font-weight: var(--fw-normal);
}

.u-fw-medium {
  font-weight: var(--fw-medium);
}

.u-fw-bold {
  font-weight: var(--fw-bold);
}

.u-text-xs {
  font-size: var(--text-xs);
}

.u-text-xs-plus {
  font-size: var(--text-xs-plus);
}

.u-text-sm {
  font-size: var(--text-sm);
}

.u-text-sm-plus {
  font-size: var(--text-sm-plus);
}

.u-text-md {
  font-size: var(--text-md);
}

.u-text-md-plus {
  font-size: var(--text-md-plus);
}

.u-text-lg {
  font-size: var(--text-lg);
}
