@use '../abstracts/size-scale' as *;

.u-fw-normal {
  font-weight: var(--fw-normal);
}

.u-fw-medium {
  font-weight: var(--fw-medium);
}

.u-fw-bold {
  font-weight: var(--fw-bold);
}

@each $name, $var in $size-scale {
  .u-text-#{$name} {
    font-size: var(#{$var});
  }
}

.u-lh-none {
  line-height: var(--lh-none);
}

.u-lh-tight {
  line-height: var(--lh-tight);
}

.u-lh-normal {
  line-height: var(--lh-normal);
}

.u-lh-body {
  line-height: var(--lh-body);
}

.u-lh-relaxed {
  line-height: var(--lh-relaxed);
}
