@use 'functions/rem' as *;

:host {
  --header-spacing: #{rem(16)};

  display: flex;
  align-items: center;
  column-gap: var(--space-8);
  flex-shrink: 0;
  height: var(--app-header-height);
  padding: var(--header-spacing);
  background-color: var(--bg-page);
}

ul {
  display: flex;
  align-items: center;
  gap: var(--space-6);

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}
