@use 'sass:math';

// Convert pixels to rem
// Use directly in CSS: margin: rem(4) rem(8);
// Don't use it for 1px values, eg: border: 1px or width: 1px
@function rem($px) {
  @return math.div($px, 16) * 1rem;
}
