:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

.page {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.page-content {
  flex: 1 1 auto;
  min-height: 0;
  overflow-y: auto;
}

.page-filter,
.page-footer {
  flex: 0 0 auto;
}
