@use 'functions/rem' as *;

@layer base {
  :host {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
  }
}

@layer components {
  .page {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
  }

  .page-content {
    flex: 1 1 auto;
    min-height: 0;
    overflow-y: auto;
    padding: 0 rem(16) rem(16);
  }

  .page-filter,
  .page-footer {
    flex: 0 0 auto;
    padding: rem(16);
  }

  .page-footer {
    background-color: var(--bg-surface-subtle);
  }
}
