<div class="page">
  <div class="page-filter">Filters</div>

  <div class="page-content u-scrollbar">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim expedita officia aliquam saepe a
    autem molestias accusamus doloremque, velit iusto exercitationem! Cum autem vitae iusto sequi
    fugit reprehenderit, vero laudantium quas, quibusdam quidem vel, quam porro labore. Quod
    laudantium adipisci dolorem iusto qui amet soluta officiis ut perferendis quos autem, optio fuga
    ducimus voluptas facere molestias et totam corrupti alias? Maiores suscipit, ipsam similique
    quos tenetur expedita odit voluptatum eius quas? Vero, autem debitis a deserunt maxime nihil.
    Hic eaque iusto molestias nihil distinctio atque aut minus officiis in perspiciatis temporibus
    tempore facere, unde consectetur ducimus tenetur dignissimos ab. Eos incidunt qui vel odio
    repellat dolorum quia aspernatur nulla et fugiat! Aperiam quidem sit, modi soluta aliquam
    adipisci nostrum! Atque fugit fugiat cupiditate, dolorum provident enim, voluptates consectetur
    facere commodi debitis nobis nisi unde in beatae obcaecati accusamus esse perspiciatis,
    molestiae odit minus blanditiis modi id velit? Exercitationem, nam. Quibusdam reprehenderit et
    quae vel veniam praesentium quis laudantium officiis quia similique deleniti inventore,
    accusamus minus! Cupiditate excepturi reiciendis libero, ullam porro repellendus veniam corrupti
    impedit quo commodi doloribus reprehenderit facilis consectetur laboriosam iure! Cum optio nobis
    incidunt. Eum recusandae esse laboriosam ipsam necessitatibus corporis cupiditate enim itaque
    provident, officiis rem odio quibusdam vero porro deleniti possimus saepe asperiores in? Cum
    corporis quo itaque dolorem sint saepe aut repudiandae, atque consequuntur expedita porro neque,
    laborum aperiam ab rem labore at natus hic ipsam ullam, eum quaerat excepturi. Eveniet, alias.
    Officiis non atque obcaecati recusandae. Eius doloribus, quos fugit incidunt at dolores quasi
    minus hic sequi optio, accusantium voluptate maxime accusamus soluta obcaecati. Accusantium
    nobis libero repellendus enim explicabo sit hic tempore iste, eum doloribus autem fugiat
    officiis beatae minima ea amet dolorum neque harum nemo numquam optio animi. Magnam praesentium
    nam tempore, error culpa nostrum nemo laudantium sunt illum delectus numquam in officiis fugiat
    voluptatibus adipisci fuga, asperiores veniam! Ex ut accusantium quod repudiandae illum
    reprehenderit sed delectus voluptatum repellendus voluptatibus dignissimos corrupti aliquid
    reiciendis laudantium recusandae ea alias, perspiciatis neque inventore rem dolor iusto
    perferendis labore omnis. Omnis, autem alias eveniet delectus obcaecati repellendus culpa,
    minima necessitatibus adipisci quia reprehenderit possimus aut vel molestiae expedita rem quam
    maiores nihil ipsam. Est beatae repudiandae, ipsum tempore possimus vero, magni consequuntur
    dolorum minima dolore delectus velit error blanditiis! Blanditiis delectus atque iste quia
    deserunt illo labore, natus earum velit officia voluptatem dicta obcaecati eum porro accusamus
    ratione? Facilis obcaecati aspernatur dignissimos, voluptatum molestias saepe autem nulla quasi!
    Quam veritatis obcaecati quasi id iste pariatur sed quas officiis quae nostrum enim aspernatur
    itaque tempora autem adipisci, eum quo repudiandae molestiae quod sequi sit aliquid eius odit
    cumque! Incidunt nulla iste ipsa est vel ullam voluptatem nam quisquam aliquam voluptas soluta
    fugiat quae aliquid eligendi ab esse, corrupti expedita unde, ea, sequi ratione assumenda
    officia! Eum, quas consequuntur esse dignissimos beatae, odio excepturi mollitia debitis
    voluptates dicta reprehenderit facere ullam ipsa quidem consequatur veniam qui culpa. Facere,
    dolorem laudantium numquam assumenda repellendus nesciunt sunt molestias, nostrum fuga itaque
    neque quia consequuntur quae obcaecati sit! Fugiat, nesciunt. Beatae in eveniet animi temporibus
    perferendis fugiat dolores non. Assumenda voluptatum dolores voluptatibus cupiditate minima
    obcaecati ad, cum quia ipsa, reiciendis voluptates optio beatae. Explicabo, architecto
    necessitatibus perspiciatis, aspernatur voluptatibus praesentium dolor, iure eius exercitationem
    eum veniam officiis hic similique ipsa nostrum est fugiat amet. Magnam, dolore quis. Facere
    voluptatibus dolorem sapiente provident cum rerum odit veniam, nihil reiciendis velit? Provident
    in facere doloribus tenetur quisquam, beatae blanditiis sed excepturi dolores neque aspernatur,
    eaque voluptate a doloremque architecto. Harum id aspernatur illo. Omnis quaerat, vitae
    provident delectus, atque, distinctio eligendi dolor saepe expedita quas sint corporis sed animi
    sunt. Eligendi repellendus eaque fuga eius, mollitia temporibus, saepe dignissimos voluptate,
    libero ipsa obcaecati doloribus sed! Cupiditate nisi omnis illum perferendis minima possimus
    deleniti non at aut! Optio perspiciatis illum sunt, consequuntur, asperiores, praesentium
    tenetur sequi dolorem sint tempore itaque suscipit repellendus. Corporis quasi nulla hic vitae
    odit provident qui in reprehenderit error aut odio, atque cupiditate, veniam placeat est
    molestiae amet exercitationem repudiandae. Tenetur voluptatum, dolore consequatur iure aliquid
    velit at necessitatibus laboriosam quos obcaecati, est fuga aspernatur animi, dolores aliquam
    nesciunt quis labore optio adipisci autem? Eaque, magnam voluptatum. Distinctio dolorum
    voluptates omnis sint pariatur quibusdam praesentium officiis ea? Laborum alias, explicabo
    magnam nesciunt itaque qui dolores corrupti ex voluptatem quaerat adipisci quidem sint eveniet,
    vel quis possimus incidunt minima culpa suscipit. Facilis sit optio unde labore quis temporibus
    eos ipsum libero ex ut ea est laudantium culpa placeat possimus ratione, delectus quos commodi
    autem soluta ducimus. Animi expedita maiores sequi, libero eveniet ipsam explicabo voluptate
    perspiciatis provident quia, iste sed. Fugit illo, ea quo inventore rem illum natus aspernatur
    fugiat eaque aut consectetur. Deserunt perspiciatis magnam suscipit consequatur in aliquid
    minima quaerat deleniti dicta ad officiis aspernatur explicabo libero unde labore culpa,
    reprehenderit accusantium optio sint soluta dolore nostrum mollitia ab? Reiciendis hic veniam
    labore itaque voluptatibus facilis dolore odit? Accusantium aliquid totam autem itaque, harum
    vel placeat. Dignissimos recusandae cumque officia culpa, consectetur nesciunt molestias quam,
    illo soluta incidunt ut maiores sit aperiam quia mollitia nostrum ea atque. Fugiat harum error
    commodi corrupti laboriosam ad facilis, corporis, culpa nemo ipsa numquam molestiae
    necessitatibus dicta natus vel aliquid aliquam rem blanditiis, minus ratione. Fugiat, pariatur
    maiores. Laboriosam animi ea voluptates accusamus minima qui libero provident molestiae pariatur
    nihil dolore nemo facere quo, eum voluptate! Distinctio eligendi libero quisquam hic illo at
    voluptatum modi alias magni soluta. Atque nostrum commodi nobis voluptate! Provident dolorum,
    repudiandae ratione repellat beatae nisi consequuntur laborum sequi quam incidunt eius pariatur
    itaque saepe! Dignissimos nam ipsum architecto inventore maiores laboriosam quod dolorum, id
    fugit ratione expedita! Explicabo mollitia inventore sunt, iste similique quos suscipit
    voluptatibus voluptas ipsa tempore asperiores aliquid molestias deleniti maiores magni accusamus
    natus iure placeat pariatur dolorum at, repudiandae quis laborum. Debitis, quaerat quia iure quo
    iste ducimus deserunt dolorem voluptatum voluptates exercitationem sint delectus ipsam cumque
    perspiciatis alias voluptate dolore officia magni facere aliquid neque rerum sit culpa. Possimus
    nesciunt fuga explicabo fugit velit nihil rerum deleniti ut in incidunt expedita totam excepturi
    neque ex facere odit ad, soluta laboriosam accusantium. Quia aliquam tempora, veniam sint dolore
    error perspiciatis possimus eveniet praesentium cupiditate nobis consectetur odit doloremque
    exercitationem nihil est veritatis magni enim inventore qui laudantium aut dolor. Voluptas
    facere assumenda aperiam dolore aliquid quas, cum debitis eveniet commodi? Cupiditate quo nam,
    enim explicabo dolorum voluptatem. Sit recusandae saepe dolorum, veritatis molestiae atque et
    nemo perspiciatis quis voluptate? Iste corporis facilis accusamus magni tempore atque maiores ex
    labore architecto ratione maxime a cumque modi numquam reprehenderit itaque fugiat at inventore
    quisquam natus, iusto similique dicta, ullam corrupti. A quae esse, optio nulla molestiae ad
    excepturi expedita voluptatibus, atque distinctio dolorum saepe aliquam velit necessitatibus eum
    voluptatum assumenda nisi, eveniet neque magnam qui voluptate est dolor. Minima nulla quae illum
    velit quia rerum quidem cumque, consequatur assumenda a quas, impedit incidunt adipisci quis
    unde debitis porro consequuntur, autem delectus facere hic labore fugiat deserunt? Nihil quaerat
    sit perspiciatis tempore id! Eius consequatur temporibus quisquam nobis perferendis et, ex
    pariatur laborum cumque ab incidunt. Rem repellendus laudantium atque excepturi dicta. Obcaecati
    assumenda optio ex dicta reprehenderit deserunt voluptatum possimus, corrupti aliquam
    consectetur veniam, sapiente sed! Aliquid necessitatibus perspiciatis voluptas aut veritatis,
    totam eaque suscipit cum quidem voluptatem ipsum saepe dicta est. Qui nemo aliquid reprehenderit
    delectus. Quasi necessitatibus omnis qui dolor possimus ullam eos voluptatem. Culpa, repellendus
    omnis eaque quam repellat consequatur nisi soluta alias eum voluptas assumenda magnam facilis
    rerum. Suscipit pariatur facilis numquam, nam error et molestias, eaque autem architecto qui
    exercitationem expedita dolorem, ut explicabo quos voluptates eum officiis fugiat! Quae,
    voluptatem, explicabo dolore quia repellat modi nihil nesciunt inventore ipsam, quos illum!
    Veniam labore voluptate necessitatibus recusandae odio, quia ipsam accusamus quibusdam inventore
    amet vero eos ipsa ratione dolore aperiam eligendi, possimus tempora officia voluptatibus
    consectetur. Consequuntur velit itaque, consequatur accusantium enim vel error voluptas
    repellendus, eius culpa amet nihil explicabo ipsa consectetur dignissimos architecto recusandae
    vero. Illo modi enim, alias perferendis maiores reiciendis sapiente vero. Accusantium, odit
    magni tenetur esse eveniet quod, excepturi veniam, at fuga fugit itaque. Laborum praesentium,
    consequuntur ratione molestiae deleniti similique dolores mollitia. Facilis in ab, dolores
    commodi numquam dicta nobis eaque excepturi, sapiente fugit fugiat vitae est, debitis veniam
    atque veritatis soluta quos architecto nemo aliquid porro necessitatibus. Nihil commodi iste
    quam qui, ad amet voluptate numquam minus velit eligendi explicabo, ipsum similique soluta
    inventore, fugit id vitae! Odit nulla mollitia eveniet rem error autem explicabo iure sapiente
    porro nihil necessitatibus aperiam magni similique architecto, eius accusantium praesentium
    repudiandae deleniti natus odio rerum expedita. Sed quaerat velit minima quod dolore numquam
    alias cupiditate iure consequuntur, suscipit, aspernatur ut fugit. Recusandae doloribus itaque
    odit perferendis inventore ratione, temporibus dolor illum nam quasi natus hic autem fugit, non
    placeat sequi ea, adipisci suscipit aut facere vitae accusantium atque eum quisquam. Minima
    quasi odit praesentium harum similique totam sapiente quisquam veniam iure explicabo, blanditiis
    minus, et vitae dolor consequuntur cum a, magni libero. Beatae facilis doloremque deleniti dolor
    quisquam sequi veritatis ullam soluta natus corrupti? Accusantium obcaecati cum dolores dicta
    odio fugit non iure exercitationem ab fugiat aspernatur sequi facilis inventore necessitatibus
    eius repellendus ad illo, nesciunt aperiam neque, velit dolorem! Optio minus culpa quidem neque
    molestiae repellendus, ea, dolorem delectus rem nobis corporis animi repellat architecto
    veritatis sed vel, repudiandae reprehenderit maxime beatae distinctio a libero assumenda!
    Deleniti dolorem iure at sunt iste inventore mollitia nulla delectus? Nesciunt laudantium dolore
    commodi soluta aperiam officia velit fugiat. Delectus, accusamus sequi assumenda laudantium
    laboriosam, aliquid magni est pariatur consectetur necessitatibus itaque magnam eaque, in
    placeat optio non eum earum enim ullam. Ipsam, voluptatibus culpa? Sed dolore, eius nulla
    aperiam odit obcaecati magni blanditiis alias molestias repudiandae sapiente, possimus
    molestiae. Quas aspernatur impedit repellendus veniam ipsum cum maxime commodi labore optio
    similique ipsam ex architecto quia obcaecati beatae ipsa officiis minima facilis tempore,
    sapiente autem sint? Ab corrupti nulla totam quisquam officia. Et aspernatur consequuntur
    dolores libero sed deserunt cupiditate autem accusamus rem eligendi ut, modi maiores repellat,
    tempora natus quia enim tenetur praesentium vel at quasi quod? Expedita natus eos hic veniam
    optio provident, sed dolore perspiciatis temporibus debitis accusantium quasi quis ipsa facilis,
    asperiores voluptate! Vitae amet sint officiis illum laboriosam quod at itaque voluptatibus et,
    pariatur vel maxime error, quas, velit repellat voluptates recusandae repudiandae ratione
    eligendi quaerat consectetur nihil eaque doloribus voluptatum? Magni est assumenda rem
    accusamus, quae sapiente architecto quo rerum necessitatibus atque aliquam sint pariatur
    quisquam commodi culpa. Ipsum quibusdam maiores at natus iste porro, necessitatibus incidunt
    dicta odio aspernatur ex vel. Nisi, temporibus debitis. Nulla cumque quas quis dolores, ut est
    maiores sequi nobis voluptatibus deserunt distinctio temporibus excepturi cupiditate. Adipisci
    saepe praesentium veniam vel, rem quam? Iusto ullam illo adipisci doloribus vitae id dignissimos
    consectetur facere, nostrum at animi quasi laborum natus molestias qui, quisquam facilis. Iusto,
    quam qui omnis modi perferendis cum excepturi consectetur doloremque beatae neque dolore
    nesciunt officiis nostrum laboriosam voluptatem cupiditate quae maiores possimus et, quisquam
    numquam id. Aperiam animi ut laudantium repudiandae blanditiis laboriosam mollitia dolore, nobis
    illum, doloribus explicabo modi iure sed repellendus! Blanditiis neque alias ullam maiores,
    iusto molestias nemo! Voluptas laudantium ad inventore accusantium mollitia sapiente consectetur
    dolorem perspiciatis id quisquam ratione eum distinctio officiis voluptatibus numquam fugiat
    vero incidunt pariatur ut corrupti sit minima, debitis deleniti. Veritatis unde itaque
    doloribus! Atque, possimus quia consequuntur, eaque nobis eos odio dolores, libero ex quos
    quibusdam. Dolore maiores aut quas rerum cupiditate odit neque a rem dolorem placeat magni
    ducimus laborum debitis blanditiis nam minus, et ab vitae eos nulla nostrum illum dolor
    provident ad. Minima at quisquam laborum eligendi facilis sint est deleniti ipsum maiores sed
    quo in quos reiciendis, sequi rem debitis voluptas explicabo natus! Culpa molestiae consectetur
    deserunt tempore delectus explicabo provident numquam quis unde vel pariatur similique at a,
    molestias ad ullam minus ut enim quaerat assumenda odio cupiditate. Distinctio eligendi quis
    recusandae quibusdam ad ratione dolorum corporis atque suscipit culpa quisquam incidunt
    voluptatum amet sed adipisci, unde officiis sequi? Praesentium repudiandae assumenda similique
    at, ipsum deleniti commodi.
  </div>

  <div class="page-footer">page footer</div>
</div>
