/* ==========================================================================
   SYSTEM SCALES
   --------------------------------------------------------------------------
   This file declares all design system scales.
   Each scale is independent.
   ========================================================================== */

/* Typography scale */
$text-scale: (
  xs: var(--fs-xs),
  // 10px
  sm: var(--fs-sm),
  // 12px
  label: var(--fs-label),
  // 13px
  md: var(--fs-md),
  // 14px
  lg: var(--fs-lg),
  // 16px
  xl: var(--fs-xl),
  // 18px
  2xl: var(--fs-2xl),
  // 20px
  3xl: var(--fs-3xl),
  // 22px
  4xl: var(--fs-4xl), // 24px
);

/* Icon scale */
$icon-scale: (
  xs: var(--icon-xs),
  // 8px
  sm: var(--icon-sm),
  // 12px
  md: var(--icon-md),
  // 16px
  lg: var(--icon-lg),
  // 20px
  xl: var(--icon-xl),
  // 24px
  2xl: var(--icon-2xl),
  // 32px
  3xl: var(--icon-3xl), // 48px
);

/* Spacing scale */
$space-scale: (
  0: var(--space-0),
  1: var(--space-1),
  // 4px
  2: var(--space-2),
  // 8px
  3: var(--space-3),
  // 12px
  4: var(--space-4),
  // 16px
  5: var(--space-5),
  // 20px
  6: var(--space-6),
  // 24px
  7: var(--space-7),
  // 28px
  8: var(--space-8),
  // 32px
  9: var(--space-9),
  // 36px
  10: var(--space-10), // 40px
);
