@layer base {
  :root {
    --font-primary: 'DM Sans';
    --font-fallbacks: system-ui, -apple-system, "Segoe UI", "Roboto", "Helvetica Neue", "Noto Sans", "Liberation Sans", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --body-font: var(--font-primary), var(--font-fallbacks);
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-bold: 700;
    --text-xs: 0.625rem; /* 10px */
    --text-xs-plus: 0.6875rem; /* 11px */
    --text-sm: 0.75rem; /* 12px */
    --text-sm-plus: 0.8125rem; /* 13px */
    --text-md: 0.875rem; /* 14px */
    --text-md-plus: 0.9375rem; /* 15px */
    --text-lg: 1rem; /* 16px */
    --text-lg-plus: 1.0625rem; /* 17px */
    --text-xl: 1.125rem; /* 18px */
    --text-xl-plus: 1.1875rem; /* 19px */
    --text-2xl: 1.25rem; /* 20px */
    --text-2xl-plus: 1.3125rem; /* 21px */
    --text-3xl: 1.375rem; /* 22px */
    --text-3xl-plus: 1.4375rem; /* 23px */
    --text-4xl: 1.5rem; /* 24px */
    --text-4xl-plus: 1.5625rem; /* 25px */
  }

  body {
    font-family: var(--body-font);
  }
}