html {
  font-size: 62.5%;
}

:root {
  --font-primary: 'DM Sans';
  --font-subset: system-ui, -apple-system, "Segoe UI", "Roboto", "Helvetica Neue", "Noto Sans", "Liberation Sans", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --body-font: var(--font-primary), var(--font-subset);
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --text-xs: 1rem; // 10px
  --text-xs-plus: 1.1rem; // 11px
  --text-sm: 1.2rem; // 12px
  --text-sm-plus: 1.3rem; // 13px
  --text-md: 1.4rem; // 14px
  --text-md-plus: 1.5rem; // 15px
  --text-lg: 1.6rem; // 16px
  --text-lg-plus: 1.7rem; // 17px
  --text-xl: 1.8rem; // 18px
  --text-xl-plus: 1.9rem; // 19px
  --text-xxl: 2rem; // 20px
  --text-xxl-plus: 2.1rem; // 21px
  --text-heading-xs: 2.2rem; // 22px
  --text-heading-sm: 2.3rem; // 23px
  --text-heading-md: 2.4rem; // 24px
  --text-heading-lg: 2.5rem; // 25px
  --text-heading-xl: 2.6rem; // 26px
}

body,
.e-control {
  font-family: var(--body-font);
}

.app-c-page-title {
  font-size: var(--text-heading-md);
  font-weight: var(--font-weight-bold);
  color: var(--dark-1);
}
