@layer base {
  :root {
    --transition-1: 0.15s ease-in-out;
    --transition-2: 0.5s ease;
    --transition-3: 0.3s ease;
    --transition-4: 0.8s ease;
    --transition-5: 0.3s cubic-bezier(0.55, 0.06, 0.68, 0.19);
    --scrollbar-color-thumb: rgb(var(--grey-1-rgb), 60%);
    --scrollbar-color-track: transparent;
    --scrollbar-width: thin;
  }
}
