@layer base {
  :root {
    /* Transitions */
    --transition-1: 0.15s ease-in-out;
    --transition-2: 0.5s ease;
    --transition-3: 0.3s ease;
    --transition-4: 0.8s ease;
    --transition-5: 0.3s cubic-bezier(0.55, 0.06, 0.68, 0.19);

    /* Border radius */
    --radius-none: 0;
    --radius-xs: 2px;
    --radius-sm: 4px;
    --radius-md: 6px;
    --radius-lg: 8px;
    --radius-xl: 12px;
    --radius-2xl: 16px;
    --radius-round: 9999px;

    /* Scrollbar */
    --scrollbar-color-thumb: rgb(var(--grey-1-rgb) / 60%);
    --scrollbar-color-track: transparent;
    --scrollbar-width: thin;
  }
}
