:root {
  --app-header-height: 3.125rem;

  /* Transitions */
  --transition-1: 0.15s ease-in-out;
  --transition-2: 0.3s ease;
  --transition-3: 0.3s cubic-bezier(0.55, 0.06, 0.68, 0.19);

  /* Border radius */
  --radius-none: 0;
  --radius-xs: 0.125rem; /* 2px */
  --radius-sm: 0.25rem; /* 4px */
  --radius-md: 0.375rem; /* 6px */
  --radius-lg: 0.5rem; /* 8px */
  --radius-xl: 0.75rem; /* 12px */
  --radius-2xl: 1rem; /* 16px */
  --radius-round: 9999px;

  /* Scrollbar */
  --scrollbar-color-thumb: rgb(var(--grey-1-rgb) / 60%);
  --scrollbar-color-track: transparent;
  --scrollbar-width: thin;
}
