// Colors are defined in RGB format
// Output 1: --primary-navy-blue: rgb(0, 45, 85)
// Output 2: --primary-navy-blue-rgb: 0, 45, 85
// Output 2 can be used like, background-color: rgba(var(--primary-navy-blue-rgb), 0.5)

$colors: (
  'primary': (
    'navy-blue': '0, 45, 85',
    // #002D55
    'hyperlink-blue': '0, 92, 138',
    // #005C8A
    'tint-blue': '46, 83, 116',
    // #2E5374
    'tint-blue-2': '117, 144, 168',
    // #7590A8
    'tint-blue-3': '81, 123, 162',
    // #517BA2
    'accent-blue': '19, 188, 230',
    // #13BCE6
    'selection-blue': '59, 115, 166',
    // #3B73A6
  ),

  'light-blue': (
    1: '229, 250, 255',
    // #E5FAFF
    2: '215, 235, 252',
    // #D7EBFC
    3: '178, 213, 242',
    // #B2D5F2
    4: '237, 251, 255',
    // #EDFBFF
    5: '217, 233, 247',
    // #D9E9F7
    6: '169, 207, 241',
    // #A9CFF1
    7: '0, 121, 181',
    // #0079B5
  ),

  'grey': (
    1: '102, 109, 112',
    // #666D70
    2: '155, 163, 166',
    // #9BA3A6
    3: '208, 213, 215',
    // #D0D5D7
    4: '219, 226, 234',
    // #DBE2EA
    5: '243, 247, 249',
    // #F3F7F9
    6: '240, 247, 255',
    // #F0F7FF
    7: '252, 253, 255',
    // #FCFDFF
    8: '179, 192, 204',
    // #B3C0CC
    9: '231, 239, 242',
    // #E7EFF2
    10: '239, 245, 250',
    // #EFF5FA
  ),

  'dark': (
    1: '28, 34, 39',
    // #1C2227
    2: '68, 68, 68',
    // #444444
    3: '119, 119, 119',
    // #777777
  ),

  'light': (
    1: '204, 204, 204',
    // #CCCCCC
    2: '246, 246, 246',
    // #F6F6F6
    3: '244, 244, 244',
    // #F4F4F4
    4: '239, 240, 241',
    // #EFF0F1
  ),

  'pending-orange': (
    'light': '237, 194, 69',
    // #EDC245
    'dark': '82, 75, 66',
    // #524B42
  ),

  'red': (
    'alert': '255, 72, 94',
    // #FF485E
    'light-1': '255, 145, 159',
    // #FF919F
    'light-2': '255, 214, 214',
    // #FFD6D6
    'light-3': '240, 202, 202',
    // #F0CACA
    'light-4': '238, 204, 204',
    // #EECCCC
    'light-5': '255, 235, 235',
    // #FFEBEB
    'light-6': '255, 251, 251',
    // #FFFBFB
    'dark': '214, 81, 79',
    // #D6514F
  ),

  'green': (
    'light-1': '214, 244, 228',
    // #D6F4E4
    'light-2': '230, 246, 234',
    // #E6F6EA
    'light-3': '244, 255, 234',
    // #F4FFEA
    'dark': '15, 94, 53',
    // #0F5E35
    'dark-2': '11, 136, 67',
    // #0B8843
    'hotel': '129, 192, 178',
    // #81C0B2
    'success': '37, 164, 94',
    // #25A45E
  ),

  'blue': (
    'ship': '75, 151, 211',
    // #4B97D3
    'bold': '11, 101, 228',
    // #0B65E4
  ),

  'yellow': (
    'highlighted': '255, 252, 234',
    // #FFFCEA
    'highlighted-text': '245, 241, 143',
    // #F5F18F
    'greyish': '239, 234, 208',
    // #EFEAD0
    'hybrid': '195, 177, 83',
    // #C3B153
  ),

  'violet': (
    'light-1': '223, 229, 253',
    // #DFE5FD
    'light-2': '216, 230, 255',
    // #D8E6FF
  ),

  'orange': (
    'dark-1': '211, 104, 6',
    // #D36806
  ),

  'neutral': (
    'white': '255, 255, 255',
    'black': '0, 0, 0',
  ),
);

@layer base {
  [data-theme='light'] {
    @each $group, $shades in $colors {
      @each $name, $value in $shades {
        --#{$group}-#{$name}: rgb(#{$value});
        --#{$group}-#{$name}-rgb: #{$value};
      }
    }
  }
}
