@use 'mixins/svg-mask' as *;

:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: var(--space-4);
}

.test-svg-mask {
  color: var(--status-error);

  @include svg-mask(
    '<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">' + '<path d="M4 9L8 13L12 9" ' +
      'stroke="black" fill="none" ' +
      'stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>' + '</svg>'
  );
}
