@use 'mixins/page-height' as *;

:host {
  @include page-height;
}

.page-scroll {
  padding: var(--space-4);
}

.demo-box {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: var(--space-4);
  text-align: center;
  font-size: var(--fs-md);

  &.alt {
    background-color: #e0e0e0;
  }

  &.blue {
    background-color: #dbeafe;
    border-color: #93c5fd;
  }

  &.green {
    background-color: #dcfce7;
    border-color: #86efac;
  }
}

.app-c-individual-align {
  min-height: 150px;
  background-color: #727272;
}
