@use 'mixins/page-height' as *;

:host {
  @include page-height;
}

.page-scroll {
  padding: var(--space-4);
}

.demo-box {
  background-color: var(--neutral-100);
  border: 1px solid var(--neutral-300);
  padding: var(--space-4);
  text-align: center;
  font-size: var(--fs-md);

  &.alt {
    background-color: var(--neutral-200);
  }

  &.blue {
    background-color: var(--info-100);
    border-color: var(--info-300);
  }

  &.green {
    background-color: var(--success-100);
    border-color: var(--success-300);
  }
}

.app-c-individual-align {
  min-height: 150px;
  background-color: var(--neutral-600);
}
