.demo-box {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: var(--space-4);
  text-align: center;
  font-size: var(--fs-md);

  &.alt {
    background-color: #e0e0e0;
  }

  &.blue {
    background-color: #dbeafe;
    border-color: #93c5fd;
  }

  &.green {
    background-color: #dcfce7;
    border-color: #86efac;
  }
}
