@use 'sass:meta';
@layer reset, base, components, utilities;

/* Reset */
@include meta.load-css('reset');

/* Base */
@include meta.load-css('abstracts/tokens/colors');
@include meta.load-css('abstracts/themes/light');
@include meta.load-css('abstracts/variables');
@include meta.load-css('abstracts/typography');

/* Common (Styles common for multiple pages or components) */
@include meta.load-css('common');

@layer components {
  /* styles from node_modules */
}

/* Components */
@include meta.load-css('components/buttons');
@include meta.load-css('components/icons');
@include meta.load-css('components/typography');

/* Utilities (Always load it last) */
@include meta.load-css('utilities');
