/*!
 * Styles - main entry point
 * ... .... .- .-. .- - ....
*/

@use 'sass:meta';
@layer reset, base, plugins, components, utilities;

/* Reset */
@include meta.load-css('reset');

/* Tokens */
@include meta.load-css('abstracts/tokens/colors');
@include meta.load-css('abstracts/tokens/font');
@include meta.load-css('abstracts/tokens/spacing');
@include meta.load-css('abstracts/tokens/icon');

/* Themes */
@include meta.load-css('abstracts/themes/light');

@include meta.load-css('abstracts/variables');
@include meta.load-css('abstracts/typography');

/* Common (Styles common for multiple pages or components) */
@include meta.load-css('common');

/* Plugins (node_modules) */
@layer plugins {
  /* Third-party / vendor CSS only */
}

/* Components */
@include meta.load-css('components/typography');
@include meta.load-css('components/icon');
@include meta.load-css('components/buttons');
@include meta.load-css('components/accordion');
@include meta.load-css('components/badges');

/* Utilities (Always load it last) */
@include meta.load-css('utilities');
